<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
     <nav>
		<a href="/home">Home</a> | <a href="/refill">Refill</a> |<a href="/report">Report</a> |
		<a href="/containerstatus">Container Status</a> |
	</nav>
	<h1 style="text-align: center">Refilling counter details</h1>

	<div align="center">
		<table border="1">
			<thead>
				<tr>
					<td>Container</td>
					<td>All days</td>
					<td>Today</td>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>Tea</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Coffee</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Suger</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Water</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Milk</td>
					<td>0</td>
					<td>0</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>