<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<nav>
		<a href="/home">Home</a> | <a href="/refill">Refill</a> |<a href="/report">Report</a>
		| <a href="/containerstatus">Container Status</a> |
	</nav>

<h2 style="text-align: center;">Total Sale detail for Today</h2>
	<div align="center">
		<table border="1">
			<thead>
				<tr>
					<td>Sr.No</td>
					<td>Drink</td>
					<td>Number of Cups</td>
					<td>Cost</td>
				</tr>
			</thead>

			<tbody>
				<tr th:each="drink,drinkStatus : ${drinks}">
					<td th:text="${drinkStatus.index+1}"></td>
					<td th:text="${drink.drinkName}"></td>
					<td th:text="${drink.noOfCups}"></td>
					<td th:text="${drink.cost}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<br>
	<br>

	<div align="center">
		<table border="1">
			<tr>
				<td>Total Number Of Cups</td>
				<td th:text="${noOfCups}"></td>
			</tr>
			<tr>
				<td>Total Cost</td>
				<td th:text="${totalCost}"></td>
			</tr>
		</table>
	</div>



</body>
</html>